<!--partial template for displaying search results/game. should just be title, release date, cover art, genres/platforms-->
<!--Somewhere have an <a> tag with an href of href="api/games/single/{{game.id}}-->

<div class="card gameResults" style="width:20rem;">
    <a href="http://localhost:3001/api/games/single/{{id}}">
    <img class="card-img-top" src="{{cover_art_url}}" alt="Card image cap">
    <div class="card-body">
        <p class="card-text" style="font-family: Arial, Helvetica, sans-serif; color:rgb(248, 245, 245)">{{title}}</p>
    </a>
    <br>
        <a href="#" class="btn btn-primary">★ Favorite</a>
        <a href="#" class="btn btn-primary">Review</a>
    </div>
</div>