<h1>{{userData.username}}'s Favorites</h1>
<div class="savedGames">
{{#each userData.games as |game|}}
    <div class="gameItem">
        <a href="http://localhost:3001/api/games/single/{{id}}">
        {{title}}
        </a>
        {{#if playlist.played}}
            <p></p><i class="fa-solid fa-campfire"></i>
        {{else}}
            <i class="fa-solid fa-gamepad-modern"></i>
        {/if}
    </div>
{{/each}}
</div>
