<section class="vh-100 gradient-custom">
  {{!-- <div class="container py-5 h-100"> --}}
    <div class="card bg-dark text-white" style="border-radius: 5rem;">
      <div class="card-body p-5 text-center">
        <p class="text-white-50 mb-5">Search more games</p>
        <div class="form-outline form-white mb-4">
          <!-- search bar -->
          <input type="search" id="searchBar" class="form-control form-control-lg" />
          <button type="button" id="searchSubmit" for="search">Search</button>
        </div>
      </div>
    </div>
    <div class="card bg-dark text-white" style="border-radius: 5rem;">
      <div class="card-body p-5 text-center">
        <h2 class="fw-bold mb-2 text-uppercase" style="color:rgb(224, 142, 142);">POPULAR GAMES</h2>
        <div class="mb-md-5 mt-md-4 pb-5 row" id="popular-games">
          {{#each gamesArr as |game|}}
          {{> result}}
          {{/each}}
        </div>
      </div>
</section>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script rel="script" src="/public/js/search.js"></script>