    <header class="glow">Savepoint</header>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-50">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                              {{#unless isSignup}}
                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <p class="text-white-50 mb-5">Please enter your login and password!</p>
                                <div class="form-outline form-white mb-4">
                                    <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                                    <label class="form-label" for="typeEmailX">Email</label>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                                    <label class="form-label" for="typePasswordX">Password</label>
                                </div>
                                {{!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a>
                                </p> --}}
                                <button class="btn btn-outline-light btn-lg px-5" id="loginBtn" type="submit">Login</button>
                                {{else}}
                                <h2 class="fw-bold mb-2 text-uppercase">Signup</h2>
                                <p class="text-white-50 mb-5">Please enter a username, email, and password to sign up!</p>
                                <div class="form-outline form-white mb-4">
                                    <input type="username" id="typeUserX signupUser" class="form-control form-control-lg" />
                                    <label class="form-label" for="typeUserX">Username</label>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <input type="email" id="typeEmailX signupEmail" class="form-control form-control-lg" />
                                    <label class="form-label" for="typeEmailX">Email</label>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="typePasswordX signupPass" class="form-control form-control-lg" />
                                    <label class="form-label" for="typePasswordX">Password</label>
                                </div>
                                 <button class="btn btn-outline-light btn-lg px-5" id="signupBtn" type="submit">Sign Up</button>
                                {{/unless}}
                            </div>
                            <div>
                                {{#unless isSignup}}
                                <p class="mb-0">Don't have an account? <a href="/landing/signup" class="text-white-50 fw-bold">Sign
                                        Up</a>
                                </p>
                                {{else}}
                                <p class="mb-0"><a href="/landing" class="text-white-50 fw-bold">Go Back</a>
                                </p>
                                {{/unless}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script rel="script" src="./js/landing.js"></script>
