<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <div class="mb-md-5 mt-md-4 pb-5">
            <!-- Sample text that can go above the search bar -->
            <p class="text-white-50 mb-5">Search more games</p>
            <div class="form-outline form-white mb-4">
              <!-- search bar -->
              <input type="search" id="searchBar" class="form-control form-control-lg" />
              <!-- hook into search button here to create event listener for searching for a game -->
              <button type="button" id="searchSubmit" for="search">Search</button>
            </div>
            </p>
          </div>
        </div>
  </section>

<section>
{{#each gameResults as |game|}}
    {{> result}}
{{/each}}
</section>
