:root {
    --light-pink: #F1BBF2;
    --purple: #6B3073;
    --dark-purple: #381E40;
    --grey: #141726;
    --blue: #1D4B73;
  }

  div .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .search { 
        grid-column: 1 / 1 / 2 / 4;
        background-color: #1D4B73; 
    }
    .played { 
        grid-area: 2 / 2 / 6 / 4;
        background-color: #381E40; 
    }
    .wishlist { 
        grid-area: 2 / 4 / 6 / 6;
        background-color: #6B3073; 
    }


    /* styling for favorites page */
/* not styled correctly yet */
/* 
header{
    text-align: center;
    font-size: 50px;
    font-family: monospace;
    height: 100px;
  
  }
  
  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  } */