.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 3; }
    .div2 { grid-area: 5 / 2 / 6 / 5; }
    .div3 { grid-area: 2 / 2 / 4 / 4; }
    .div4 { grid-area: 4 / 2 / 5 / 4; }
    .div5 { grid-area: 2 / 4 / 5 / 6; }