/* root variables */
:root {
  --light-pink: #F1BBF2;
  --purple: #6B3073;
  --dark-purple: #381E40;
  --grey: #141726;
  --blue: #1D4B73;
}

/* styling for favorites page */
/* header */
header .display-4 {
color: #6B3073;
}

header .container {
  background-color: #141726;
}